<section class="about" id="about">
    <div class="container about-container">
        <div class="about-img-container">
            <picture>
               <source
               srcset="/img/about/about-desk.webp 1x,
               /img/about/about-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/about/about-mobile.webp 1x,
              /img/about/about-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
        <img src="/img/about/about-desk.webp" alt="Happy Dog" class="about-img"
            />
          </picture>


           
        </div>
        <div class="about-description">
            <h2 class="about-title">About Us</h2>
            <p class="about-text">
              Hello! <br/>
              I am the heart of “Filton Abbey Woof”, an establishment where dogs are groomed with patience, skill and genuine care.<br/>
              The grooming salon is designed to make your pet not only look flawless, but also feel calm, cozy and loved.<br/>
              I believe that beauty begins with care - that's why:
            </p>
            <ul class="about-list">
                <li class="about-item">
                    <svg class="about-icon" width="32" height="32">
                        <use href="/img/sprite.svg#icon-paws"></use>
                    </svg>
                 
                    We use predominantly natural products</li>
                <li class="about-item">
                    <svg class="about-icon" width="32" height="32">
                        <use href="/img/sprite.svg#icon-paws"></use>
                    </svg>
                    We work without stress - with adaptation for anxious dogs</li>
                <li class="about-item">
                    <svg class="about-icon" width="32" height="32">
                        <use href="/img/sprite.svg#icon-paws"></use>
                    </svg>
                    We offer an individual approach to each pet</li>
                <li class="about-item">
                   <svg class="about-icon" width="32" height="32">
                       <use href="/img/sprite.svg#icon-paws"></use>
                   </svg>
                   We do not deal with anal glands, as this procedure is best
                   performed by veterinary specialists</li>
            </ul>
            <p class="about-text">
             I have a college degree in dog grooming in which I got a distinction grade.
             I share values of sustainable business.
             Dog owners are my clients, whom I sincerely love.</p>
             <p class="about-text">
              Filton Abbey Woof is not just a grooming salon.
              This is a place where dogs feel comfortable, and their owners are sure that they are in the right hands.  
             </p>
        </div>
    </div>
</section>