<section class="faq" id="faq">
    <div class="container">
        <h2 class="faq-title">Frequently Asked Questions</h2>
        <ul class="faq-accordion">
            <li class="ac">
                
                   <button type="button" class="ac-trigger">
                     How long does grooming take?
                        <svg class="accordion-icon" width="36" height="36">
                            <use href="/img/sprite.svg#icon-plus"></use>
                        </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">
                       It completely depends on the size and temperament of the dog. <br/>
                       If your dog has matted fur this can also affect the timing and pricing of the groom.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    Can I leave my dog and come back later?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">Yes as grooming takes its time you will be given a
                     time to come and collect.<br/>Don't worry, we'll keep your dog safe 
                     and comfortable while you're away.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    My dog is afraid of grooming. What should I do?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">A calm approach is always taken with all dogs. 
                          Lavender scented salon - helps reduce stress and anxiety.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    Do you use sedatives?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">No. You can sedate prior to bringing your dog in if needed but always speak with your
                        vet before hand.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">  
                    How often should I book my dog in for a groom?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">We recommend to book your dog for a professional groom every 4-8 weeks, 
                         but this varies significantly by coat type. <br/> Short-haired dogs may only need a full groom every 8-12 weeks, while long-haired or curly-coated breeds typically need visits every 4-6 weeks.
                          </p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">  
                    How can I make an appointment?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">Call us or send us an email indicating 
                        the service and your desired time of visit.</p>
                </div>
            </li>
             <li class="ac">
                <button type="button" class="ac-trigger">  
                     Is there a fee for being late or canceling an appointment?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">Late and cancellation 24hrs or less before appointment will be charged 50% of groom price.</p>
                </div>
            </li>
              <li class="ac">
                <button type="button" class="ac-trigger">  
                   Opening hours
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">We are here for you from Monday to Friday from 9.00 to18.00</p>
                </div>
            </li>
        </ul>
    </div>
</section>