<section class="faq" id="faq">
    <div class="container">
        <h2 class="faq-title">Frequently Asked Questions</h2>
        <ul class="faq-accordion">
            <li class="ac">
                
                   <button type="button" class="ac-trigger">
                     How long does grooming take?
                        <svg class="accordion-icon" width="36" height="36">
                            <use href="/img/sprite.svg#icon-plus"></use>
                        </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">From 1 to 2.5 hours depending on the type of fur, services and temperament of the pet. 
                        We take our time — comfort is<br/> more important than speed.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    Can I leave my dog and come back later?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">Yes, of course. 
                        You can wait in our cozy lounge area or return after the completion call.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    My dog is afraid of grooming. What should I do?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">We have experience working with sensitive animals. We work without fear and coercion.
                         If necessary, we conduct an <br/> adaptation visit or care in several stages.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">
                    Do you use sedatives?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">No. Only a calm approach, gentle communication and patience.
                         Our goal is for your pet to come to us with joy.</p>
                </div>
            </li>
            <li class="ac">
                <button type="button" class="ac-trigger">  
                    Can I sign up online?
                    <svg class="accordion-icon" width="36" height="36">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg>
                </button>
                <div class="ac-panel">
                    <p class="ac-text">Yes. Just fill out the form on the website,
                         choose a service — and we will contact you to confirm.</p>
                </div>
            </li>
        </ul>
    </div>
</section>