<footer class="footer">
    <div class="footer-container">
        <h2 class="footer-title">Where every pup feels special!</h2>
        <div class="footer-map">
            <a href="https://maps.app.goo.gl/UYP2jixHBsypNahC6" 
            target="_blank"
            class="footer-map-link">
 <picture>
            <source
              srcset="../img/footer/maps-desk.webp 1x,
              ../img/footer/maps-desk-two.webp 2x"
              media="(min-width: 768px)"
            />
            
            <source
              srcset="../img/footer/maps-mobile.webp 1x,
              ../img/footer/maps-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
         <img src="../img/footer/maps.webp" alt="map">
          </picture>

            
            </a>
        </div>
        
<div class="footer-contacts-container" id="contacts">
<ul class="footer-social-list">
            <li class="footer-social-item">
                <a href="https://www.instagram.com/filtonabbeywoof" 
                class="footer-social-link"
                target="_blank">
                <svg
                width="42" height="42"
                 
                class="footer-social-icon">
                    <use href="../img/sprite.svg#icon-instagram"></use>
                    
                </svg>
                    
                </a>
            </li>
              <li class="footer-social-item">
                <a href="" 
                class="footer-social-link"
                target="_blank">
                <svg width="42" 
                height="42" 
                class="footer-social-icon">
                    <use href="../img/sprite.svg#icon-twitter"></use>
                    
                </svg>
                    
                </a>
            </li>
              <li class="footer-social-item">
                <a href="" 
                class="footer-social-link"
                target="_blank">
                <svg width="42" 
                height="42" 
                class="footer-social-icon">
                    <use href="../img/sprite.svg#icon-tiktok"></use>
                    
                </svg>
                    
                </a>
            </li>
            
        </ul>
        <div class="footer-contacts"> 
          <p class="footer-photo-text">Telephone</p> 
        <a class="footer-phone"  href="tel:+447376625996">07376625996</a>
        <p class="footer-email-text">E-mail</p>
        <a class="footer-email" href="mailto:filtonabbeywoof@gmail.com">filtonabbywoof@gmail.com</a>
        <p class="footer-social-text">Follow us</p>
        <a  class="footer-logo" href="#home"  >
            <img src="/img/footer/logo-footer.png"
            width="100px"
            height="106px"
            alt="LOGO">
        </a>
        </div>
        <div class="footer-texts">
        <p class="footer-text footer-text-1">Filton Abbey Woof © 2025 All rights reserved</p>
        <p class="footer-text"><span.footer-text-link>
            Web by <a href="https://www.linkedin.com/in/larysa-ivshyna-251428316/"
             class="footer-web-link"
             target="_blank">
           Larysa Ivshyna</a>
        </span.footer-text-link>
          <span class="footer-text-link">
 Designed by <a href="https://www.linkedin.com/in/tetiana-retynska/" 
             class="footer-web-link"
             target="_blank">
           Tetiana Retynska</a>
          </span>
               </p>
        </div>

</div>
        

    </div>
</footer>