<footer class="footer">
    <div class="container">
        <h2 class="footer-title">Where every pup feels special!</h2>
        <div class="footer-map">
            <a href="https://www.google.com/maps/search/filton+abbey+bristol/@51.504683,-2.5644943,17z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDcyOC4wIKXMDSoASAFQAw%3D%3D" class="footer-map-link">
<img src="../img/footer/maps.png" alt="maps">
            </a>
        </div>
        <ul class="footer-social-list">
            <li class="footer-social-item">
                <a href="" 
                class="footer-social-link"
                target="_blank">
                <svg wi  class="social-icon">
                    <use href="/img/sprite.svg#icon-instagram"></use>
                    
                </svg>
                    
                </a>
            </li>
            
        </ul>

    </div>
</footer>