<section class="gallery" id="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper swiperGallery">  
        <ul class="swiper-wrapper gallery-list">
            <li class="swiper-slide gallery-item ">
                <img src="/img/gallery/1000014024.png"
                     alt="Gallery Image 1"
                     class="gallery-image"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/1000014018 1.png"
                     alt="Gallery Image 2"
                     class="gallery-image"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery3.png"
                     alt="Gallery Image 3"
                     class="gallery-image"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery4.png"
                     alt="Gallery Image 4"
                     class="gallery-image"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery5.png"
                     alt="Gallery Image 5"
                     class="gallery-image"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery6.png"
                     alt="Gallery Image 6"
                     class="gallery-image"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery7.png"
                     alt="Gallery Image 7"
                     class="gallery-image"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <img src="/img/gallery/gallery8.png"
                     alt="Gallery Image 8"
                     class="gallery-image"
                     width="798"
                     height="550" />
            </li>
            
        </ul>
        <div class="swiper-pagination"></div>
        
        </div>
        <button type="button" class="gallery-btn">
            View all
        </button>
    </div>
</section>