<section class="gallery" id="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper swiperGallery">  
        <ul class="swiper-wrapper gallery-list">
            <li class="swiper-slide gallery-item ">
                <p class="gallery-caption-before"></p>
                <div class="gallery-image-big">
                    <img src="/img/gallery/photo1.jpg"
                         alt="Gallery Image 1"
                         class="gallery-image-big"
                         width="798"
                            height="550"
 />
                </div>
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <div class="gallery-image-small">
                    <img src="/img/gallery/photo2.png"
                         alt="Gallery Image 2"
                         class="gallery-image-small"
                         width="470"
                         height="550"
 />
                </div>
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo7.jpg"
                     alt="Gallery Image 3"
                     class="gallery-image-small"
                      />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo4.jpg"
                     alt="Gallery Image 4"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo.png"
                     alt="Gallery Image 5"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo.png"
                     alt="Gallery Image 6"
                     class="gallery-image-small"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo6.png"
                     alt="Gallery Image 7"
                     class="gallery-image-small"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo8.jpg"
                     alt="Gallery Image 8"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo11.jpg" 
                alt="Gallery Image 10" class="gallery-image-big" width="798" height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo9.jpg"
                  alt="Gallery Image 9" class="gallery-image-small" width="470" height="550" />
            </li>
            
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo11.jpg"
                 alt="Gallery Image 11" class="gallery-image-small" width="470" height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo12.jpg"
                 alt="Gallery Image 12" class="gallery-image-big" width="798" height="550" />
            </li>
         <li class="swiper-slide gallery-item">
             <p class="gallery-caption-after"></p>
             <img src="/img/gallery/photo14.jpg" 
             alt="Gallery Image 14" class="gallery-image-big" width="798" height="550" />
         </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo13.jpg"
                 alt="Gallery Image 13" class="gallery-image-small" width="470" height="550" />
            </li>
            
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before"></p>
                <img src="/img/gallery/photo15.jpg"
                 alt="Gallery Image 15" class="gallery-image-small" width="470" height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after"></p>
                <img src="/img/gallery/photo16.jpg"
                 alt="Gallery Image 16" class="gallery-image-big" width="798" height="550" />
            </li>
            
        </ul>
        <div class="swiper-pagination"></div>
        
        </div>
        <button type="button" class="gallery-btn">
            View all
        </button>
    </div>
</section>