<section class="gallery" id="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper swiperGallery">  
        <ul class="swiper-wrapper gallery-list">
            <li class="swiper-slide gallery-item ">
                <p class="gallery-caption-before">Before</p>
                <div class="gallery-image-big">
                    <img src="/img/gallery/1000014024.png"
                         alt="Gallery Image 1"
                         class="gallery-image-big"
                         width="798"
                            height="550"
 />
                </div>
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after">After</p>
                <div class="gallery-image-small">
                    <img src="/img/gallery/1000014018 1.png"
                         alt="Gallery Image 2"
                         class="gallery-image-small"
                         width="470"
                         height="550"
 />
                </div>
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before">Before</p>
                <img src="/img/gallery/copy1.jpg"
                     alt="Gallery Image 3"
                     class="gallery-image-small"
                      />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after">After</p>
                <img src="/img/gallery/copy4.jpg"
                     alt="Gallery Image 4"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before">Before</p>
                <img src="../img/gallery/1000014008 (1).png"
                     alt="Gallery Image 5"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after">After</p>
                <img src="../img/gallery/1000014008 (2).png"
                     alt="Gallery Image 6"
                     class="gallery-image-small"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-before">Before</p>
                <img src="../img/gallery/1000014007 (1).png"
                     alt="Gallery Image 7"
                     class="gallery-image-small"
                     width="470"
                     height="550" />
            </li>
            <li class="swiper-slide gallery-item">
                <p class="gallery-caption-after">After</p>
                <img src="../img/gallery/1000014007 (2).png"
                     alt="Gallery Image 8"
                     class="gallery-image-big"
                     width="798"
                     height="550" />
            </li>
            
        </ul>
        <div class="swiper-pagination"></div>
        
        </div>
        <button type="button" class="gallery-btn">
            View all
        </button>
    </div>
</section>