<header class="header"> 
    <div class="container">  
    <div class="header-wrapper">
       <a href="#home">
  <img
            src="/img/logo.png"
            alt="Filton Abbey Woof Logo"
            width="88"
            height="100"
            class="logo-img"
        />
       </a> 
      
        <div class="meme-dog"></div>
        <nav class="header-nav">
            <ul class="header-list">
               
                <li class="header-item">
                    <a href="#about" class="header-link">About</a>
                </li>
                <li class="header-item">
                    <a href="#services" class="header-link">Services</a>
                </li>
                <li class="header-item">
                    <a href="#gallery" class="header-link">Gallery</a>
                </li>
                <li class="header-item">
                    <a href="#reviews" class="header-link">Reviews</a>
                </li>
                <li class="header-item">
                    <a href="#faq" class="header-link">FAQ</a>
                </li>
                <li class="header-item">
                    <a href="#contacts" class="header-link">Contacts</a>
                </li>
            </ul>
        </nav>
        </div>
        </div>
</header>

  

