<header class="header"> 
    <div class="container">  
    <div class="header-wrapper">
        
        <img
            src="/img/logo.png"
            alt="Filton Abbey Woof Logo"
            width="88"
            height="100"
            class="logo-img"
        />
        
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-item">
                    <a href="./index.html" class="header-link">Home</a>
                </li>
                <li class="header-item">
                    <a href="./about.html" class="header-link">About Us</a>
                </li>
                <li class="header-item">
                    <a href="./services.html" class="header-link">Services</a>
                </li>
                <li class="header-item">
                    <a href="./masters.html" class="header-link">Masters</a>
                </li>
                <li class="header-item">
                    <a href="./gallery.html" class="header-link">Gallery</a>
                </li>
                <li class="header-item">
                    <a href="./reviews.html" class="header-link">Reviews</a>
                </li>
                <li class="header-item">
                    <a href="./contacts.html" class="header-link">Contacts</a>
                </li>
            </ul>
        </nav>
        </div>
        </div>
</header>

  

