<section class="hero">
    <div class="container hero-container">
        <div class="hero-description">
 <h1 class="hero-title">Perfect <span class="hero-color">care for your </span>pet</h1>
        
        <p class="hero-text">
            
High quality, gentleness, and professionalism — <br/> 
everything to make your dog shine after the visit

        </p>
        <button type="button" class="hero-button">Silently adore!</button>

        </div>

        
       <div class="hero-img-container">

        <img
                src="/img/home/home.png"
                alt="Hero Dog"
                class="hero-image"
                width="500"
                height="700"
            />
       </div>
        
        
    </div>
</section>