<section class="hero" id="home">
    <div class="container hero-container">
        <div class="hero-description">
 <h1 class="hero-title">Perfect <span class="hero-color">care for your </span>pet</h1>
        
        <p class="hero-text">
            
High quality, gentleness, and professionalism — <br/> 
everything to make your dog shine after the visit

        </p>
        <a href="#contacts"  class="hero-button">Silently adore!</a>

        </div>

        
       <div class="hero-img-container">

  <picture>
            <source
              srcset="/img/home/home-desk.webp 1x,
              /img/home/home-desk-two.webp 2x"
              media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/home/home-mobile.webp 1x,
              /img/home/home-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img
               src="/img/home/home-desk.webp"
                alt="Hero Dog"
                class="hero-image"
                
            />
          </picture>


       
       </div>
        
        
    </div>
</section>