<section class="masters">
    <div class="container">
        <h2 class="masters-title">Masters</h2>
        <div class="masters-img">
                       <picture>
               <source
               srcset="/img/masters/master-desk.webp"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/masters/master-mobile.webp"
              media="(max-width: 767px)"
            />
        <img src="/img/masters/master-desk.webp" alt="Masters" class="masters-foto"
        
            />
          </picture>
        </div>
        <p class="master-text">Rebecca</p>
    </div>
</section>