<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper swiperReviews"> 
      <div class="swiper-wrapper reviews-list">
        <div class="swiper-slide reviews-item">
          <div class="text">
            <p class="reviews-text">
              Aww my baby looks so pretty. Thank you again!
            </p>
            <p class="reviews-author">Rachel</p>
          </div>
        </div>
        <div class="swiper-slide reviews-item">
          <div class="text">
            <p class="reviews-text">
              You did such a great job!
            </p>
            <p class="reviews-author">Rose</p>
          </div>
        </div>
        <div class="swiper-slide reviews-item">
          <div class="text">
            <p class="reviews-text">
              Rufus and Rafferty look so handsome. Thank you Becky!
            </p>
            <p class="reviews-author">David</p>
          </div>
        <!-- додай ще слайди тут -->
      </div>
      <div class="reviews-btn">
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      </div>
      
    </div>
  </div>
</section>
