<section class="reviews hidden" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper swiperReviews">  
        <ul class="reviews-list swiper-wrapper">
            <li class="reviews-item swiper-slide">
                
                <p class="reviews-text">
                   My dog ​​Bruno is afraid of loud places,
                    but here he is calm and happy.
                    After grooming he looks like a gloss!
                </p>
                <p class="reviews-author">Anastasia</p>
            </li>
            <li class="reviews-item swiper-slide">
               
                <p class="reviews-text">
                    Very professional, with love.
                    This is the first time I've seen a groomer pet a dog 
                    before starting - it's so humane!
                </p>
                <p class="reviews-author">Andriy</p>
        </ul>
         <div class="swiper-button-next"></div>
         <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>