<button class="scroll__up">
  <svg
    class="scroll__up-svg"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <defs>
      <linearGradient id="gradientStroke" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" stop-color="#00f0ff">
          <animate
            attributeName="stop-color"
            values="#00f0ff; #ff00ff; #00ff88; #00f0ff"
            dur="6s"
            repeatCount="indefinite"
          />
        </stop>
        <stop offset="100%" stop-color="#ff00ff">
          <animate
            attributeName="stop-color"
            values="#ff00ff; #00ff88; #00f0ff; #ff00ff"
            dur="6s"
            repeatCount="indefinite"
          />
        </stop>
      </linearGradient>
    </defs>

    <circle
      class="scroll__up-svg-path"
      cx="50"
      cy="50"
      r="45"
      stroke="url(#gradientStroke)"
    />
    <polyline points="35,55 50,40 65,55" stroke="white" />
    <line x1="50" y1="40" x2="50" y2="70" stroke="white" />
  </svg>
</button>