<section class="services" id="services">
    <div class="container">
        <h2 class="services-title">Services</h2>
        <ul class="services-list">

            <li class="services-item">
                <h3 class="services-item-title">Washing the dogs</h3>
                <div class="services-icon-circle right">
            <picture>
               <source
               srcset="/img/services/wash-icon-desk.webp 1x,
               /img/services/wash-icon-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/services/wash-icon-mobile.webp 1x,
              /img/services/wash-icon-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/img/services/wash-icon-desk.webp" alt="Dog washing"
             class="services-icon" 
            />
            </picture>


                    
                </div>
               
            </li>
            <li class="services-item services-item-left">
                <h3 class="services-item-title">Grooming</h3>
                <div class="services-icon-circle left">
            <picture>
               <source
               srcset="/img/services/grooming-icon-desk.webp 1x,
               /img/services/grooming-icon-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/services/grooming-icon-mobile.webp 1x,
              /img/services/grooming-icon-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/img/services/grooming-icon-desk.webp" alt="Dog grooming"
             class="services-icon" 
            />
            </picture>
                </div>
             

            </li>
            <li class="services-item">
                <h3 class="services-item-title">Clipping</h3>
                <div class="services-icon-circle right">
            <picture>
               <source
               srcset="/img/services/clipping-icon-desk.webp 1x,
               /img/services/clipping-icon-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/services/clipping-icon-mobile.webp 1x,
              /img/services/clipping-icon-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/img/services/clipping-icon-desk.webp" alt="Dog clipping"
             class="services-icon" 
            />
            </picture>
                </div>
            </li>
            <li class="services-item services-item-left">
                <h3 class="services-item-title">Nails</h3>
                <div class="services-icon-circle left">
            <picture>
               <source
               srcset="/img/services/nails-icon-desk.webp 1x,
               /img/services/nails-icon-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/services/nails-icon-mobile.webp 1x,
              /img/services/nails-icon-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/img/services/nails-icon-desk.webp" alt="Dog nail trimming"
             class="services-icon" 
            />
            </picture>
        </ul>

    </div>
</section>