<section class="services" id="services">
    <div class="container">
        <h2 class="services-title">Services</h2>
        <ul class="services-list">

            <li class="services-item">
                <h3 class="services-item-title">Washing the dogs</h3>
                <div class="services-icon-circle">
            <picture>
               <source
               srcset="/img/services/wash-icon-desk.webp 1x,
               /img/services/wash-icon-desk-two.webp 2x"
                media="(min-width: 768px)"
            />
            
            <source
              srcset="/img/services/wash-icon-mobile.webp 1x,
              /img/services/wash-icon-mobile-two.webp 2x"
              media="(max-width: 767px)"
            />
            <img src="/img/services/wash-icon-desk.webp" alt="Washing the dogs"
             class="services-icon" 
            />
            </picture>


                    
                </div>
               
            </li>
            <li class="services-item">
                <h3 class="services-item-title">Grooming</h3>
                <div class="services-icon-circle">
                    <img src="/img/services/grooming-icon.png" alt="Grooming" class="services-icon" />
                </div>
             

            </li>
            <li class="services-item">
                <h3 class="services-item-title">Clipping</h3>
                <div class="services-icon-circle">
                    <img src="/img/services/clipping-icon.png" alt="Clipping" class="services-icon" />
                </div>
            </li>
            <li class="services-item">
                <h3 class="services-item-title">Nails</h3>
                <div class="services-icon-circle">
                    <img src="/img/services/nail-icon.png" alt="Ear Cleaning" class="services-icon" />
        </ul>

    </div>
</section>