<section class="services">
    <div class="container">
        <h2 class="services-title">Services</h2>
        <ul class="services-list">

            <li class="services-item">
                <h3 class="services-item-title">Haircut</h3>
                <div class="services-icon-circle">
                    <img src="../img/services/haircut-icon.png" alt="Haircut" class="services-icon" />
                </div>
               
            </li>
            <li class="services-item">
                <h3 class="services-item-title">Teeth Cleaning</h3>
                <div class="services-icon-circle">
                    <img src="../img/services/teeth-icon.png" alt="Teeth Cleaning" class="services-icon" />
                </div>
             

            </li>
            <li class="services-item">
                <h3 class="services-item-title">SPA care</h3>
                <div class="services-icon-circle">
                    <img src="../img/services/spa-icon.png" alt="SPA care" class="services-icon" />
                </div>
            </li>
            <li class="services-item">
                <h3 class="services-item-title">Nail trimming</h3>
                <div class="services-icon-circle">
                    <img src="../img/services/nail-icon.png" alt="Ear Cleaning" class="services-icon" />
        </ul>

    </div>
</section>