.about {
  
    padding: 64px 0;
    background: rgba(43, 69, 37, 0.25);
    background-image: url(/img/masters/paws-paw.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 32px
    
}
.about-img-container {
    height: 224px;
    width: 152px;
    box-shadow: -4px 4px 0 0 var(--green-color);
}

.about-description {
    
    font-family: var(--general-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    

}
.about-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    margin-bottom: 28px;

}
.about-text {
    margin-bottom: 28px;
    
}
.about-list {
   
    margin-bottom: 28px;
    
    gap: 14px;
    display: flex;
    flex-direction: column;
}
.about-item {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .about {
        padding: 34px 0;
    }
    .about-container {
   
    flex-direction: row;
    gap: 188px
    
}
   .about-img-container {
    height: 656px;
    width: 470px;
    
}

.about-description {
    width: 634px;
    font-size: 20px;
    line-height: 160%;
}
.about-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 121%;
    margin-bottom: 50px;

}
.about-text {
    margin-bottom: 50px;
    
}
.about-list {
   
    margin-bottom: 50px;
    
    gap: 28px;
    
}
}

@media screen and (min-width: 1280px) {
    .about {
        padding: 140px 0;
    }

}