.about {
  
    padding: 140px 0;
    background: rgba(43, 69, 37, 0.25);
    background-image: url(/img/masters/paws-paw.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    gap: 188px
    
}
.about-img-container {
    height: 707px;
    box-shadow: -4px 4px 0 0 var(--green-color);
}

.about-description {
    width: 634px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: var(--black-color);

}
.about-title {
    
    font-size: 48px;
    line-height: 121%;
    margin-bottom: 50px;

}
.about-text {
    margin-bottom: 50px;
    
}
.about-list {
   
    margin-bottom: 50px;
    
    gap: 28px;
    display: flex;
    flex-direction: column;
}
.about-item {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
}