:root {
    --general-font-family: 'Lato', sans-serif;
    --second-family: 'Cormorant Garamond', serif;
    --green-color: #2b4525;
    --pink-color: #e5b6b4;
    --black-color: #000000;
}

body {
 font-family: var(--general-font-family);
 font-weight: 400;
 font-size:16px ;
 letter-spacing: 0%;
 margin: 0;
  
  
}


body.no-scroll {overflow: hidden !important;}

html {scroll-behavior: smooth;}

[id] {
    scroll-margin-top: 50px;
}
@media only screen and (min-width: 768px){
    [id] { 
        scroll-margin-top: 20px;

    }
}

@media only screen and (min-width: 1200px){
    [id] { 
        scroll-margin-top: 40px;

    }
}

