.contacts {
    padding: 140px 0;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.contacts-title {
    font-family: var(--second-family);
font-weight: 500;
font-size: 48px;
line-height: 121%;
margin-bottom: 100px;

}
.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contacts-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--second-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.01em;

}
.contacts-text {

 width: 164px;


}

.social-list { 
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.social-link {
    color:transparent

}
.social-item {
}
.social-icon {
    
}
.contacts-form {
    width: 380px;
    height: 378px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.form-user-input{
    height: 56px;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
     padding: 10px;
     font-family: var(--second-family);
font-weight: 500;
font-size: 24px;
line-height: 150%;
letter-spacing: 0.01em;


}
.form-user-input:hover  {
    border: 1px solid var(--green-color);
    color: var(--green-color);

}
.form-group {
    height: 56px;
}
.contacts-form-btn {
    border: 1px solid #000;
    width: 380px;
    height: 56px;
    font-family: var(--second-family);
   font-weight: 500;
   font-size: 24px;
   line-height: 150%;
   letter-spacing: 0.01em;

    
}

.contacts-form-btn:hover {
     border: 1px solid var(--green-color);
    color: var(--green-color);
}
.invalid-input {
    justify-content: end;
    display: flex;
    font-family: var(--second-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-align: right;
color: red;
}