.footer {
   padding-bottom: 52px;
   
}


.footer-title {
    background-color: #cad0c8;
    height: 400px;
    font-family: var(--second-family);
font-weight: 700;
font-size: 96px;
line-height: 121%;
color: var(--green-color);
justify-items: center;
text-align: center;
padding-top: 140px;
}
.footer-map {
    width: 100%;
   
  
    
}
.footer-map-link {
}
.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--second-family);
    font-weight: 500;
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    margin-bottom: 80px;
}
.footer-phone {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: 0.01em;
    
}
.footer-email {
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.footer-logo {
    margin-bottom: 48px;
}
.footer-text {
    font-size: 16px;
    line-height: 150%;
}
.footer-web-link {
    font-size: 18px;
    
    color: var(--green-color);
    text-decoration: underline;
    
    
}