.footer {
   padding-bottom: 52px;
   
}
.footer-container {
    padding: 0 0;
}

.footer-title {
    background-color: #cad0c8;
    height: 176px;
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 119%;
color: var(--green-color);
justify-items: center;
text-align: center;
padding-top: 50px;
}
.footer-map { 
    width: 100%;
}

.footer-contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--second-family);
    font-weight: 500;
}
.footer-social-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.footer-social-icon {
    fill: #ffff;
    stroke: #0000;
}
.footer-social-item {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-social-item:hover {
border-bottom: 4px solid var(--green-color) ;
    border-radius: 12px;
    border-left: 4px solid  var(--green-color);
    background-color: var(--green-color);
}

.footer-social-item:hover .social-icon {
    stroke: var(--green-color);
    height: 32px;
    width: 32px;
}


.footer-phone {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: 0.01em;
    
}
.footer-email {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.footer-phone:hover, .footer-email:hover {
    color: var(--green-color);
}
.footer-logo {
    margin-bottom: 50px;
}
.footer-text {
    font-size: 16px;
    line-height: 150%;
}
.footer-web-link {
    font-size: 18px;
    
    color: var(--green-color);
    text-decoration: underline;
    
    
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.footer-text-1 {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
.footer-title {
    
    height: 400px;
    font-size: 96px;
    line-height: 121%;
    padding-top: 140px;
}

.footer-social-list {
   
    gap: 60px;
   
    margin-bottom: 80px;
    margin-top: 100px;
}

.footer-email {
    margin-bottom: 48px;
    
}
.footer-logo {
    margin-bottom: 48px;
}
.footer-text {
    flex-direction: row;
    gap: 16px;
}
.footer-text-1 {
    margin-bottom: 0;
}
}

@media screen and (min-width: 1280px) {

}

