.gallery {
    padding: 50px 0;
}


.gallery-title {
font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 119%;


}
.gallery-list {
   width: 100%;
   display: flex;
   margin: 50px auto 50px;
    
}
.gallery-item {
    position: relative;
}
.gallery-caption-before {
    position: absolute;
    right: 16px;
    top: 16px;
        background-color: #CAD0C8;
    padding: 5px 10px;
    border-radius: 8px;
   font-family: var(--second-family);
   font-size: 24px;
   font-weight: 700;
}

.gallery-caption-after {
    position: absolute;
    right: 16px;
    top: 16px;
     font-family: var(--second-family);
   font-size: 24px;
   font-weight: 700;
    background-color: #CAD0C8;
    padding: 5px 10px;
    border-radius: 8px;
}


.swiper-pagination-color {
    color: var(--green-color)!important;
}

.swiper-pagination-bullet {
    width: 32px!important;
    height: 32px!important;
    
    background-color: transparent!important;
    border: 3px solid var(--green-color)!important;
    opacity: 1!important;
}

.swiper-pagination-bullet-active {
    width: 20px!important;
    height: 20px!important;
    background-color: var(--green-color)!important;

}

@media screen and (min-width: 768px) {
   .gallery {
    padding: 34px 0;
} 
.gallery-title {

font-weight: 500;
font-size: 48px;
line-height: 121%;

}

.gallery-list {
    width: 1292px!important;
   display: flex;
   flex-direction: row;
    gap: 24px;
    margin: 50px auto 32px;
    flex-wrap: wrap;
}
.gallery-item {
    width: auto!important;
    transition: opacity 0.5s ease, transform 0.5s ease, height 0.5s ease;
    opacity: 1;
    transform: translateY(0);
} 
.gallery-item.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    height: 0;
    overflow: hidden;
}
.gallery-caption-before {
   
    right: 45px;
    top: 20px;
     
    padding: 5px 10px;
    border-radius: 8px;
  
   font-size: 42px;
   font-weight: 700;
}

.gallery-caption-after {
   
    right: 45px;
    top: 20px;
    
   font-size: 42px;
   font-weight: 700;
   
    padding: 5px 10px;
    border-radius: 8px;
}
.gallery-container {
    padding: 0;
}




.gallery-btn {
display: block;
font-weight: 500;
font-size: 32px;
line-height: 100%;
text-decoration: underline;


}
.swiper-pagination {
    display: none;
}
}

@media screen and (min-width: 1280px) {
       .gallery {
    padding: 140px 0;
} 
}



