.header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    padding: 6px 0;
    display: flex;
    align-items: center;
    background-color: #fff;

   
    
}
.logo-img-mobile {
    margin-right: 240px;
}
.logo-img-deck {
    display: none;
}

.header.scrolled {
    box-shadow: 0 4px 10px 0 var(--green-color);
}
.header-nav {
    display: none;
}
.header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: cormorand-garamond, serif;
    font-weight: 500;
    font-size: 24px;


    

}
.burger-icon {
    stroke: #000;
    fill: #000;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: #CAD0C8;
   background-image: url(/img/masters/paws-paw.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
  
 


  transition: transform 250ms;
  transform: translateX(-100%);
}

.svg-icon-close {
  stroke: #000;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 104px;
  
}

.mobile-menu.is-open {
    z-index: 999;
    transform: translateX(0);
}
.mobile-menu-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    margin: 0;
    
}
.mobile-menu-close {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-nav-menu {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: auto;
  display: flex;
  gap: 20px;
  
  padding-top: 112px;
  font-family: var(--second-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding-right: 11px;

}
.mobile-nav-link::after {
    content: '|';
    width: 1px;
    height: 32px;
   
    margin-left: 16px;
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--green-color);
}
.no-scroll {
    overflow: hidden;
}


@media screen and (min-width: 1280px) {
    .header {
        height: 100px;
        background-color: #CAD0C8;
    }
    
    .header-btn-burger {
        display: none;
    }
    .logo-img-deck {
        display: block;
    }
    .logo-img-mobile {
        display: none;
    }


.header-nav {
    display: flex;
    align-items: center;
   
    
}

.header-list {
    
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-item {
    position: relative;
    display: inline-block;
}
.header-item:not(:last-child)::after{
    
    content: '|';
    
    color: #000;
    width: 2px;
    height: 38px;
   
    margin-left: 30px;
}

.header-link {
    padding: 8px 0;
    text-align: center;
    
    display: inline-block;
    opacity: 0;
    animation: animate__lightSpeedInRight 2s ease-in-out forwards;
    
    white-space: nowrap;
}

.logo-link {
    animation: bounceOut 2s ease-in-out forwards;
}
.header-link:nth-child(1) {
    animation: lightSpeedInRight 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}
.header-link:nth-child(2) {
    
    animation-delay: 2s;
}
.header-link:nth-child(3) {
    animation-delay: 3s;
}
.header-link:nth-child(4) {
    animation-delay: 10s;
}
.header-link:nth-child(5) {
    animation-delay: 10s;
}
.header-link:nth-child(6) {
    animation-delay: 10s;
}
@keyframes lightSpeedInRight {
    from {
        opacity: 0;
        transform: translateX(600px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.header-link:hover {
    color:var(--green-color); ;
    text-decoration: underline;
    text-decoration-color: var(--green-color);
}

.meme-dog {
  width: 120px;
  height: 120px;
  background-image: url('/img/header/adoptinga-best-friend-running.gif'); /* Doge PNG з прозорим фоном */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
 top: 50px;
  right: -150px;
  transform: translateY(-50%);
  animation: dogeRun 3.5s linear forwards;
}

@keyframes dogeRun {
  0% {
    right: -150px;
  }
  100% {
    right: 110%;
  }
}
}