.header {
    width: 100%;
    height: 100px;
    background-color: #CAD0C8;
    color: #000;
    display: flex;
    align-items: center;
    font-family: cormorand-garamond, serif;
    font-weight: 500;
font-size: 24px;

color: var(--black);
    padding: 24px 0;
   
    
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    

}

.header-nav {
    display: flex;
    align-items: center;
   
    
}

.header-list {
    margin-left: 150px;
    display: flex;
    align-items: center;
    gap: 80px;
}
.header-link:not(:last-child)::after{
    content: '|';
    color: #000;
    width: 1px;
    height: 24px;
   
    margin-left: 16px;
}

.header-link {
    padding: 8px 0;
    text-align: center;
    width: 100px;
    height: 36px;
    opacity: 0;
    animation: lightSpeedInRight 2s ease-in-out forwards;
    display: inline-block;
    white-space: nowrap;
}
.header-link:nth-child(1) {
    animation: lightSpeedInRight 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
}
.header-link:nth-child(2) {
    
    animation-delay: 2s;
}
.header-link:nth-child(3) {
    animation-delay: 3s;
}
.header-link:nth-child(4) {
    animation-delay: 10s;
}
.header-link:nth-child(5) {
    animation-delay: 10s;
}
.header-link:nth-child(6) {
    animation-delay: 10s;
}
@keyframes lightSpeedInRight {
    from {
        opacity: 0;
        transform: translateX(600px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.header-link:hover {
    color: #2b4525;
    
    box-shadow: 4px 4px 4px 0 #2b4525;
    border-radius: 10px;
    
}

.meme-dog {
  width: 120px;
  height: 120px;
  background-image: url('/img/header/haircut-icon.png'); /* Doge PNG з прозорим фоном */
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
 top: 60px;
  right: -150px;
  transform: translateY(-50%);
  animation: dogeRun 3s linear forwards;
}

@keyframes dogeRun {
  0% {
    right: -150px;
  }
  100% {
    right: 110%;
  }
}
