.masters {
    padding: 150px 0;
    background: #cad0c8;
}

.masters-title {
   font-family: var(--second-family);
font-weight: 500;
font-size: 48px;
line-height: 121%;


}
.master-text {

font-weight: 500;
font-size: 32px;
line-height: 100%;
text-align: center;

}
.masters-img {
    width: 1200px;
    height: 550px;
    box-shadow: -4px 4px 0 0 var(--green-color);
  
   margin: 50px auto 100px;
}