.reviews {
    padding: 50px 0;
    background:#cad0c8 ;
}

.reviews-title {
    
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    margin-bottom: 50px;

}

.reviews-item {
    position: relative;
    width: 328px!important;
    height: auto!important;
    padding-left: 90px;
    margin-right: 0!important;
    
}
.reviews-item::before {
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    background-image: url(/img/reviews/reviews-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 60px;
    height: 40px;
    
    
    
}
.reviews-icon {
    fill: var(--green-color);
}
.reviews-text {
    color: #000;
    text-shadow: 0 1px 4px  rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    width: 250px!important;

}
.reviews-author {

    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 88px;
    
}
.reviews-btn {
    margin-top: 88px;
    
}
.swiper-button-next,
.swiper-button-prev {
color: var(--green-color)!important;

top: var(--swiper-navigation-top-offset, 300px)!important;

}
.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 110px)!important;
}
.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 110px)!important;
}



@media screen and (min-width: 768px) {
.reviews {
    padding: 34px 0;
}
.reviews-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 121%;
    margin-bottom: 100px;

}
.reviews-item {
    
    width: 434px!important;
    height: 178px!important;
    padding-left: 90px;
}
.reviews-item::before {
  
    width: 60px;
    height: 50px;
}
.reviews-text {
    width: 334px!important;
}
.reviews-btn {
    display: none;
    
}
.reviews-list {
    
    gap: 424px;

}

}

@media screen and (min-width: 1280px) {
.reviews {
    padding: 140px 0;
}
}