.reviews {
    padding: 140px 0;
    background:#cad0c8 ;
}

.reviews-title {
    
    font-weight: 500;
    font-size: 48px;
    line-height: 121%;
    margin-bottom: 100px;

}
.reviews-list {
    display: flex;
    gap: 424px;

}
.reviews-item {
    position: relative;
    width: 434px;
    height: 178px;
    padding-left: 90px;
}
.reviews-item::before {
    position: absolute;
    top: 0;
    left: 0;
    
    flex-shrink: 0;
    background-image: url(/img/reviews/reviews-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 60px;
    height: 50px;
    margin-right: 20px;
    
}
.reviews-icon {
    fill: var(--green-color);
}
.reviews-text {
    color: #000;
    text-shadow: 0 1px 4px  rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;

}
.reviews-author {

    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    
}