.services {
    padding: 50px 0;

}

.services-title {
font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
line-height: 119%;
margin-bottom: 50px;
}
.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.services-item {
    padding: 20px 30px;
    
    position: relative;
    display: inline-block;
   
    width: 250px;
    height: 60px;
    box-shadow: -4px 4px 0 0 var(--pink-color);
    background: var(--green-color);
}
.services-item-left  {
    box-shadow: 4px 4px 0 0 var(--pink-color);
}
.services-item-title {
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    
}
.services-icon-circle {
    position: absolute;
    top: -30px;
    right: 5px;
    transform: translateX(50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--pink-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-item .left {
    right:  250px;
}
.sevices-icon {
    width: 30px;
    height: 30px;
}

.services-item:hover {
   box-shadow: -4px 4px 4px 0 var(--green-color); 

     background: linear-gradient(90deg, var(--pink-color) 0%, var(--green-color) 100%); 
}

.services-item-left:hover {

     box-shadow: 4px 4px 4px 0 var(--green-color); 

     background: linear-gradient(90deg, var(--green-color) 0%, var(--pink-color) 100%); 
}

.services-washing { 
    position: relative;
    display: inline-block;
}
.services-washing::after {
    content: 'Bath and Blow Dry Only: £25';
    position: absolute;
    width: 400px;
opacity: 0;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
   }
   

   .services-washing:hover {
    color: transparent;
   }
    .services-washing:hover::after {
     opacity: 1;
     color: #fff;
     
    
    }
    .services-item-puppy:hover {
    padding: 24px 10px;
    height: 120px;
   }
.services-puppy { 
    position: relative;
    display: inline-block;
}
.services-puppy::after {
    content: 'Gentle wash and dry, trim, clipping out of paw pads and cutting nails. Only for 6 months plus. From £25';
    position: absolute;
    width: 240px;
    opacity: 0;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
   }
   .services-puppy:hover {
    color: transparent;
   }
    .services-puppy:hover::after {
     opacity: 1;
     color: #fff;
     
    }
    .services-grooming { 
    position: relative;
    display: inline-block;
    }  
.services-grooming::after {
    content: 'FULL GROOM: Includes wash, cut, ear cleaning, blow dry and nails from £35 depending on dog breed and size as well as condition of fur i.e. matting can increase pricing. -------------------------------------------------------------SHORT HAIR GROOMS: Smooth/short coat includes ear cleaning, wash and blow dry as well as nail. From £30'; 
    position: absolute;
    width: 220px;
    opacity: 0;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
   }
   .services-grooming:hover{
    color: transparent;
   }
   .services-grooming:hover::after {
    opacity: 1;
    color: #fff;
    
   }

   .services-grooming:hover {
    color: transparent;
   }
    .services-grooming:hover::after {
     opacity: 1;
     color: #fff;
     
    }
    .services-item-grooming:hover {
    padding: 24px 16px;
    height: 260px;
   }
.services-nails { 
    position: relative;
    display: inline-block;
}
.services-nails::after {
    content: 'Nail Clipping: £10';
    position: absolute;
    width: 300px;
    opacity: 0;
    left: 0;
    top: 0;
    transition: 0.3s ease-in-out;
   }
   .services-nails:hover {
    color: transparent;
   }
    .services-nails:hover::after {
     opacity: 1;
     color: #fff;
     
   
}

@media screen and (min-width: 768px) {
.services {
    padding: 34px 0;

}
.services-title {

font-weight: 500;
font-size: 48px;
line-height: 121%;
margin-bottom: 100px;
}
.services-list {
   justify-content: flex-start;
    gap: 150px 300px;
}
.services-item {
    padding: 34px 50px;
    width: 420px;
    height: 100px;
}
.services-item-washing:hover {
    width: 486px;
   }
.services-item-puppy:hover {
    padding: 24px 60px;
    height: 260px;
   }
   .services-puppy::after {
   
    width: 300px;
    
   }
   .services-grooming::after {
    width: 340px;
    
   }
.services-item-grooming:hover {
    padding: 24px 40px;
    height: 520px;
   }    
.services-item-title {
    
    font-size: 32px;
    line-height: 100%;
    
}
.services-icon-circle {
    
    top: -50px;
    right: 5px;
    transform: translateX(50%);
    width: 100px;
    height: 100px;
    
}
.services-item .left {
    right: 5px;
}
.services-item-left {
        box-shadow: -4px 4px 0 0 var(--pink-color);

}
.services-item-left:hover {

     box-shadow: -4px 4px 4px 0 var(--green-color); 

     background: linear-gradient(90deg, var(--pink-color) 0%, var(--green-color) 100%); 
}

}

@media screen and (min-width: 1280px) {
.services {
    padding: 140px 24px;

}

}